<!-- Footer -->
<footer class="footer mt-auto py-3 bg-white border-top sticky-bottom">
  <div class="container text-center">
    {% block footer %}
      <p class="mb-1">
        Developed by
        <a href="https://www.linkedin.com/in/jose-ramon-macias-6aaa9413/" target="_blank" class="text-decoration-none link-primary" title="Go to the author Linkedin profile">
          <strong>JR Macias</strong>
          <i class="bi bi-linkedin"></i>
        </a>
      </p>
    {% endblock %}
  </div>
</footer>
